@CHARSET "ISO-8859-1";

form {
	width: 340px;
	margin: 60px auto 30px;
	padding: 15px;
	position: relative;
	background: none repeat scroll 0% 0% rgb(255, 250, 246);
	border-radius: 4px 4px 4px 4px;
	color: rgb(126, 121, 117);
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2), 0px 1px 5px
		rgba(0, 0, 0, 0.2), 0px 0px 0px 12px rgba(255, 255, 255, 0.4);
}

body,button,input,label,select,td,textarea {
	font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
	font-size: 11px;
}

body {
	background-image: url(./background.jpg);
	color: rgb(126, 121, 117);
	line-height: 1.28;
	text-align: center;
	direction: ltr;
}